.App {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 100px auto;

  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.Display {
  display: flex;
  height: 100px;
  background-color: #625f5f;
  color: white;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;

  h2 {
    padding: 0 25px;
    font-size: 40px;

    &:hover {
      cursor: default;
    }
  }
}

.ButtonPanel {
  display: flex;
  flex-direction: column;

  div {
    height: 100px;

    button {
      height: 100%;
      border-radius: 0;
      border: solid 1px #cac3c3;
      color: #000;
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
